.common {
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__title {
    margin-bottom: 20px;
    align-self: start;
  }

  &__message {
    margin-top: 200px;
  }
}
